@font-face {
  font-family: Walter;
  src: url("./walter/Walter.ttf");
}
@font-face {
  font-family: Disney;
  src: url("./disney/Disney.ttf");
}
@font-face {
  font-family: Cartoon;
  src: url("./cartoon_toy/CartoonToy-Regular.ttf");
}

body{
  text-shadow: 1px 1px 2px white;
}

#root{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 90vw;
  height: 90vh;
  background-color: white;
}

#book{
  position: relative;
  display: grid;
  grid-template-columns: 400px 40px;
  grid-template-rows: 10px 600px 10px;
  background-image: url("https://www.nhmagazine.com/content/uploads/2021/02/disney-castle-scaled.jpg");
  object-fit: cover;
  background-size: 100%;
  border-left: 2px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  max-width: 500px;
  transform: rotateY(0);
  transform-origin: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-top:1px solid black;
  border-right:1px solid black;
  border-bottom:1px solid black;
  margin-bottom: 10px;;
}

#book:after {
  background: radial-gradient(circle, #3a86ff, #023e8a);
  bottom: 0;
  content: '';
  left: -50px;
  position: absolute;
  top: -1px;
  width: 40px;
  height: 618px;
  z-index: -10000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-top:2px solid black;
  border-left:2px solid black;
  border-bottom:2px solid black;
  border-right:10px solid rgb(0, 0, 0);
}

#cover::after {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  content: '';
  left: -20px;
  position: absolute;
  top: -2px;
  width: 20px;
  height: 622px;
  z-index: -1000;
  visibility: var(--after-visibility, hidden);
}

#cover::before {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  content: '';
  left: 0px;
  position: absolute;
  top: 0;
  width: 20px;
  z-index: 1;
  visibility: var(--after-visibility, hidden);
}

#cover{
  max-width: 100%;
  max-height: 100%;
  background-color: lightskyblue;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 1;
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
  border-top:1px solid black;
  border-right:1px solid black;
  border-bottom:1px solid black;
}

#cover img{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  z-index: -1;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#title{
  font-size: 5em;
  padding: 50px;
  text-align: center;
  font-family: "Walter", "EB Garamond", serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 
    0 0 5px #0ff,  
    0 0 10px #0ff, 
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff;
}

#cover p{
  font-size: 2em;
  padding: 50px;
  text-align: center;
  font-family: "Walter", "EB Garamond", serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 
    0 0 5px #0ff,  
    0 0 10px #0ff, 
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff;
}

.page{
  position: relative;
  width: 400px;
  height: 600px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.95), rgba(240, 216, 161, 0.95));
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: inset 50px 0px 70px rgba(0, 0, 0, 0.2), 4px 3px 5px rgba(0, 0, 0, 0.1);
  color: black;
  grid-row-start: 2;
  grid-column-start: 1;
  transform: rotateY(0);
  transform-origin: left;
}

.page p{
  padding: 5px;
  text-align: center;
  font-size: 2.2em;
  font-family: "Cartoon";
  font-optical-sizing: auto;
  font-style: normal;
}

#answer-p{
  font-size: 3.5em;
}

.page label{
  padding: 5px;
  text-align: center;
  font-size: 1.8em;
  font-family: "Cartoon", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 10px;
}

.page:before{
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: url("https://www.transparenttextures.com/patterns/old-map.png") repeat; 
  opacity: 0.3; 
  pointer-events: none; 
}

.flip{
  transform: translateX(-2px) rotateY(-180deg);
  user-select: none;
  transition: transform 0.6s ease-in-out;
}

.flip-back{
  transform: translateX(2px) rotateY(360);
  transition: transform 0.6s ease-in-out;
}

.flipped{
  z-Index: -100 !important;
}

#btn-container{
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.button{
  font-family: "Cartoon", "EB Garamond", serif;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 2px 2px black;
  font-size: 1.4em;
  z-index: 50000;
  transition: transform 0.1s;
}

.button:hover{
  transform: scale(1.05);
  cursor: pointer;
}

#back{
  visibility: hidden;
}

.hidden{
  visibility: hidden;
  pointer-events: none;
}

.answer-form{
  text-align: center;
  margin-bottom: 20px;
}

.submit-btn{
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  margin-top: 10px;
  font-family: "Cartoon", "EB Garamond", serif;
  font-size: 1.2em;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 2px 2px black;
  font-size: 1.4em;
  cursor: pointer;
  transition: transform 0.1s;
}

.submit-btn:hover{
  background-color: rgb(113, 199, 1);
  color: white;
  transform: scale(1.05);
}

label:has(input[type="radio"]:checked) {
  font-weight: bold;
  font-style: italic;
}

label {
  cursor: pointer;
}

#background-image{
  opacity: 0.15;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  z-index: -1;
  object-fit: cover;
  border-radius: 10px;
}

.stamp{
  opacity: 1;
  width: 600px;
  height: 600px ;
  position: absolute;
  left: 100px;
  bottom: -140px;
  visibility: hidden;
  z-index: -1;
  transform-origin: left;
}

.stamp.active{
  transform: scale(0.35);
  transition: transform 0.3s;
  visibility: visible !important;
}

.hand{
  opacity: 1;
  width: 600px;
  height: 600px ;
  transform: rotate(20deg);
  position: absolute;
  bottom: -200px;
  transform-origin: left;
  visibility: hidden;
  z-index: -1;
}

.hand.active{
  transform: scale(0.5);
  transition: transform 0.3s;
  visibility: visible !important;
}


#score-page img{
  top: 0;
  position: absolute;
  object-fit: cover;
  opacity: 0.1 !important;
  width: 100%;
  height: 100%;
}

#score-p{
  font-size: 3em;
}

.timer{
  user-select: none;
  position: absolute;
  top: 100px;
  left: 130px;
  opacity: 0.3;
  z-index: -1;
  font-size: 15em !important;
}