
@font-face {
  font-family: Walter;
  src: url("../media/fonts/walter/Walter.ttf");
}
@font-face {
  font-family: Disney;
  src: url("../media/fonts/disney/Disney.ttf");
}
@font-face {
  font-family: Cartoon;
  src: url("../media/fonts/cartoon_toy/CartoonToy-Regular.ttf");
}

body{
  text-shadow: 1px 1px 2px white;
  background-image: url("../media/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
}

#root{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 12vh 20vw;
  width: 1000px;
  height: 800px;
  background: rgba(255, 255, 255, 0.44);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#btn-container{
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.button{
  font-family: "Cartoon", "EB Garamond", serif;
  background-color: white;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 2px 2px black;
  font-size: 1.4em;
  z-index: 50000;
  transition: transform 0.1s;
}

.button:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.hidden{
  visibility: hidden;
  pointer-events: none;
}

.answer-form{
  text-align: center;
  margin-bottom: 20px;
}

.submit-btn{
  background-color: white;
  color: black;
  margin-top: 10px;
  font-family: "Cartoon", "EB Garamond", serif;
  font-size: 1.2em;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 2px 2px black;
  font-size: 1.4em;
  cursor: pointer;
  transition: transform 0.1s;
}

.submit-btn:hover{
  background-color: rgb(113, 199, 1);
  color: white;
  transform: scale(1.05);
}

label:has(input[type="radio"]:checked) {
  font-weight: bold;
  font-style: italic;
}

label {
  cursor: pointer;
}

#background-image{
  opacity: 0.15;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  z-index: -1;
  object-fit: cover;
  border-radius: 10px;
}

#score-page{
  position: relative;
}

#score-page img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
}

#score-p{
  font-size: 3em;
}

.timer{
  user-select: none;
  position: absolute;
  top: 130px;
  left: 140px;
  opacity: 0.3;
  z-index: -1;
  font-size: 15em !important;
}

#open{
  position: absolute;
  right: 25%
}